
{{title}}
<div class="container-fluid">
    <h2 class="title">Add a task</h2>




<form class="add-form" action="/todos/add" method="POST">
    <div class="form-group">


            <div class="row addtaskform ">
                <div class="task-form col-sm-3 col-sm-6 col-sm-3">


            <input name="task" class="form-control" id="exampleInputEmail1" aria-describedby="task submission" placeholder="How do you want to be productive today?">
        </div>


    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>
</form>



    <h2 class="title">To do list</h2>

    {{#each todolist}}

        <div class="row itemlist">
            <div class="task-form col-8">

                <form  action="/todos/done/{{id}}" id="form{{id}}" method="POST" class="form-horizontal">
                    <input id="checkbox1" type="checkbox" {{#if done}}checked{{/if}} onclick="document.querySelector('#form{{id}}').submit()">
                </form>

                <label for="checkbox1">{{description}}</label>
            </div>
            <div class="deletelist col-4">
                <form id="formadjustments" action ="/todos/delete/{{id}}" id="form_delete{{id}}" method="POST" >
                    <input class="close" type="submit" value="&times;"></input>
                </form>
            </div>
        </div>



    {{/each}}


    </div>